@import url('style.css');
@import url('varriables.css');

html{
    scroll-behavior: smooth;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}   

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(-20px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

section.promo {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

section.promo video#promoVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translate(-50%, -50%);
    background-size: cover;
}

section.promo .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 65, 163, 0.4);
    z-index: 1;
}

section.promo>header,
section.promo>.text {
    position: relative;
    z-index: 2;
}

section.promo>header {
    display: flex;
    justify-content: center;
    animation: slideDown .8s ease-out forwards;
}

section.promo>header>.content {
    padding: 25px 0;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.promo>header>.content>.logo {
    font-size: 20px;
    font-weight: 600;
    color: white;
}

section.promo>header>.content>.nav {
    display: flex;
    align-items: center;
}

section.promo>header>.content>.nav>a {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 13px;
    outline: none;
    cursor: pointer;
    transition: .3s all;
}

section.promo>header>.content>.nav>a:hover {
    background-color: #2270F1;
    color: white;
}

section.promo>header>.content>.buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

section.promo>header>.content>.buttons>a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 13px;
    outline: none;
}

section.promo>header>.content>.buttons>button {
    padding: 5px 15px;
    background-color: #2270F1;
    border: 0;
    color: white;
    font-size: 13px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
}

section.promo>.text {
    display: flex;
    justify-content: center;
    animation: fadeIn .9s ease-in forwards;
}

section.promo>.text>.content {
    width: 1280px;
    height: calc(100vh - 86px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.promo>.text>.content>h1 {
    font-size: 52px;
    font-weight: 700;
    color: white;
}

section.promo>.text>.content>p {
    font-size: 28px;
    font-weight: 300;
    color: white;
}

section.promo>.text>.content>.buttons {
    display: flex;
    margin-top: 22px;
    gap: 37px;
}

section.promo>.text>.content>.buttons>button.call-us {
    padding: 7px 32px;
    background-color: #2270F1;
    color: white;
    border: 0;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    border: 1px solid #2270F1;
    transition: .3s all;
}

section.promo>.text>.content>.buttons>button.call-us:hover {
    background-color: transparent;
}

section.promo>.text>.content>.buttons>button.view-works {
    display: flex;
    align-items: center;
    padding: 7px 10px;
    background: transparent;
    border: 1px solid #2270F1;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    transition: .3s all;
}

section.promo>.text>.content>.buttons>button.view-works:hover {
    background-color: #2270F1;
}

section.service{
    display: flex;
    justify-content: center;
    width: 100vw;
}

section.service>.content{
    padding-top: 50px;
    width: 1320px;
}

section.service>.content>p.title{
    padding-left: 20px;
    font-size: 32px;
    color: #0F244F;
    font-weight: 700;
    opacity: 0;
}

section.service>.content>p.title.visible{
    animation: fadeIn .6s ease-in forwards;
}

section.service>.content>.cards{
    padding: 0 20px;
    padding-top: 45px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    gap: 25px;
}

section.service>.content>.cards>.card{
    opacity: 0;
    min-height: 300px;
    padding: 10px;
    border-radius: 6px;
    border: 0;
    -webkit-box-shadow: 0px 0px 47px -14px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 47px -14px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 47px -20px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: .3s all;
}

section.service>.content>.cards>.card.visible{
    animation: slideUp .8s ease-out forwards;
}

section.service>.content>.cards>.card>p.num{
    font-size: 40px;
    color: #2270F1;
    font-weight: 700;
}

section.service>.content>.cards>.card>p.title{
    width: 255px;
    margin-top: 6px;
    font-size: 28px;
    color: #0F244F;
    font-weight: 500;
}

section.service>.content>.cards>.card>p.descr{
    width: 255px;
    margin-top: 6px;
    font-size: 16px;
    color: #BBC3D7;
    font-weight: 500;
}

section.service>.content>.cards>.card:hover{
    background-color: #2270F1;
}

section.service>.content>.cards>.card:hover p{
    color: white;
}

section.our-works{
    display: flex;
    justify-content: center;
    background-blend-mode: multiply;
    background-image: url(../assets/images/works.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(5, 51, 128, 0.75);
}

section.our-works>.content{
    width: 1280px;
    padding: 50px 0;
}

section.our-works>.content>p.title{
    opacity: 0;
    font-size: 32px;
    font-weight: 700;
    color: white;
}

section.our-works>.content>p.title.visible{
    animation: fadeIn .6s ease-in forwards;
}

section.our-works>.content>.reasons{
    opacity: 0;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

section.our-works>.content>.reasons.visible{
    animation: slideLeft .6s ease-in forwards;
}

section.our-works>.content>.reasons>.reason{
    width: 312px;
}

section.our-works>.content>.reasons>.reason>p{
    color: white;
}

section.our-works>.content>.reasons>.reason>p.title{
    font-size: 48px;
    font-weight: 700;
}

section.our-works>.content>.reasons>.reason>p.descr{
    font-size: 20px;
    font-weight: 500;
}

section.our-works>.content>.works{
    overflow: hidden;
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    gap: 25px;
}

section.our-works>.content>.works>.work{
    opacity: 1;
    padding: 20px;
    height: 300px;
    background-blend-mode: multiply;
    background-image: url(../assets/images/work.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s all;
}

section.our-works>.content>.works>.work.visible{
    animation: slideUp .8s ease-out forwards;
}

section.our-works>.content>.works>.work>p.title{
    font-weight: 600;
    font-size: 28px;
    color: white;
    opacity: 0;
    transition: .3s all;
}

section.our-works>.content>.works>.work>p.descr{
    margin-top: 15px;
    font-weight: 500;
    font-size: 16px;
    color: white;
    opacity: 0;
    transition: .3s all;

}

section.our-works>.content>.works>.work>p.details{
    margin-top: 6px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 16px;
    color: white;
    opacity: 0;
    transition: .3s all;


}

section.our-works>.content>.works>.work:hover{
    background-color: rgba(34, 112, 241, 0.60);
}

section.our-works>.content>.works>.work:hover p.title, section.our-works>.content>.works>.work:hover p.descr, 
section.our-works>.content>.works>.work:hover p.details{
    opacity: 1;
}

section.our-works>.content>button{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 7px 11px;
    background-color: #2270F1;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    outline: none;
    cursor: pointer;
}

section.about-company{
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

section.about-company>.content{
    width: 1280px;
    display: flex;
    justify-content: space-between;
}

section.about-company>.content>.info>p.title{
    color: #0F244F;
    font-size: 32px;
    font-weight: 700;
}

section.about-company>.content>.info>p.descr{
    width: 620px;
    margin-top: 35px;
    font-size: 24px;
    font-weight: 500;
    color: #0F244F;
}

section.reviews{
    display: flex;
    justify-content: center;
    padding: 50px 0;
    padding-bottom: 30px;
    background-color: #F6F9FE;
}

section.reviews>.content{
    width: 1280px;
}

section.reviews>.content>.title{
    display: flex;
    align-items: center;
    gap: 20px;
}

section.reviews>.content>.title>p.title{
    font-size: 32px;
    font-weight: 700;
    color: #0F244F;
}

section.reviews>.content>.title>button{
    padding: 7px 11px;
    background-color: #2270F1;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    outline: none;
    cursor: pointer;
}

section.reviews>.content>.reviews-content{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 620px);
    gap: 40px;
}

section.reviews>.content>.reviews-content>.review{
    padding: 20px;
    background-color: white;
}

section.reviews>.content>.reviews-content>.review>p.title{
    font-size: 24px;
    font-weight: 700;
    color: #0F244F;
}

section.reviews>.content>.reviews-content>.review>p.comment{
    margin-top: 4px;
    font-size: 24px;
    font-weight: 500;
    color: #0F244F;
}

section.reviews>.content>.reviews-content>.review>.stars{
    margin-top: 10px;
    display: flex;
    gap: 5px;
}

section.reviews>.content>.buttons{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 6px;
}

section.reviews>.content>.buttons>button{
    padding: 10px;
    background-color: #2270F1;
    border: 0;
    outline: none;
    cursor: pointer;
}

section.reviews>.content>.buttons>button>i{
    height: 13px;
}

section.send-review{
    padding-bottom: 50px;
    background-color: #F6F9FE;
    display: flex;
    justify-content: center;
}

section.send-review>form{
    width: 665px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section.send-review>form>p.title{
    color: #0F244F;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
}

section.send-review>form>p.descr{
    font-size: 20px;
    font-weight: 300;
    color: #0F244F;
    text-align: center;
}

section.send-review>form>input, section.send-review>form>textarea{
    padding: 13px 16px;
    font-size: 20px;
    font-weight: 400;
    color: #0F244F;
    background-color: white;
    border: 2px solid #67A0FD;
    outline: none;
}

section.send-review>form>textarea{
    min-height: 320px;
}

section.send-review>form>button{
    display: block;
    margin: 0 auto;
    color: white;
    padding: 7px 46px;
    border: 0;
    background-color: #5595FF;
    outline: none;
    cursor: pointer;
}

section.feedback{
    display: flex;
    justify-content: center;
    padding: 50px 0;
    background-blend-mode: multiply;
    background-image: url(../assets/images/feedback.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(5, 51, 128, 0.75);
}

section.feedback>form{
    padding: 30px 20px;
    background-color: #2270F1;
    width: 665px;
}

section.feedback>form>p{
    text-align: center;
    color: white;
}

section.feedback>form>p.title{
    font-size: 32px;
    font-weight: 700;
}

section.feedback>form>p.descr{
    margin-top: 12px;
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 20px;
}

section.feedback>form>input, section.feedback>form>textarea,
section.feedback>form>.line>input{
    margin-top: 20px;
    width: 100%;
    padding: 13px 16px;
    font-size: 20px;
    font-weight: 400;
    color: #0F244F;
    background-color: white;
    border: 2px solid #67A0FD;
    outline: none;
}

section.feedback>form>.line{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

section.feedback>form>textarea{
    height: 280px;
}

section.feedback>form>button{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    color: white;
    padding: 7px 46px;
    border: 0;
    background-color: #5595FF;
    outline: none;
    cursor: pointer;
}

section.contacts{
    display: flex;
    justify-content: center;
    background-color: #F6F9FE;
    min-height: 500px;
}

section.contacts>.content{
    padding: 50px 0;
    width: 1280px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

section.contacts>.content>.info>p{
    margin-top: 13px;
    color: #0F244F;
    font-size: 24px;
    font-weight: 500;
}

section.contacts>.content>.info>p.title{
    margin-top: 0;
    padding-bottom: 20px;
    color: #0F244F;
    font-size: 32px;
    font-weight: 700;
}

section.contacts>.content>.info>p>a{
    text-decoration: none;
    color: #0F244F;
    font-size: 24px;
    font-weight: 500;
    outline: none;
}

footer{
    padding: 20px 0;
    display: flex;
    justify-content: center;
    background-color: #053380;
}

footer>.content{
    width: 1280px;
    display: flex;
    justify-content: space-between;
}

footer>.content>p{
    color: white;
    font-size: 20px;
    font-weight: 500;
}

footer>.content>.other{
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

footer>.content>.other>.nav{
    display: flex;
    flex-direction: column;
}

footer>.content>.other>.nav>a{
    text-decoration: none;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 300;
    color: white;
    outline: none;
    cursor: pointer;
}

footer>.content>.other>.nav>p.title{
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding-bottom: 8px;
}

footer>.content>.other>.contacts{
    display: flex;
    flex-direction: column;
    width: 300px;
}

footer>.content>.other>.contacts>p{
    margin-top: 8px;
    font-size: 16px;
    font-weight: 300;
    color: white;
}

footer>.content>.other>.contacts>p.title{
    margin-top: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding-bottom: 8px;
}

footer>p{
    color: white;
    font-size: 20px;
    font-weight: 500;
}