@import url('style.css');
@import url('varriables.css');


html{
    scroll-behavior: smooth;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}   

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideDownVer {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(-20px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideRight {
    from {
        transform: translateX(20px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

header{
    position: relative;
    z-index: 2;
    overflow: hidden;
    background-color: #053380;
}

header {
    display: flex;
    justify-content: center;
}

header>.content {
    padding: 25px 0;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: slideDown .6s ease-out forwards;
}

header>.content>.logo {
    font-size: 20px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

header>.content>.nav {
    display: flex;
    align-items: center;
}

header>.content>.nav>a {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 13px;
    outline: none;
    cursor: pointer;
    transition: .3s all;
}

header>.content>.nav>a:hover {
    background-color: #2270F1;
    color: white;
}

header>.content>.buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

header>.content>.buttons>a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 13px;
    outline: none;
}

header>.content>.buttons>button {
    padding: 5px 15px;
    background-color: #2270F1;
    border: 0;
    color: white;
    font-size: 13px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
}

section{
    background-color: #F6F9FE;
    display: flex;
    justify-content: center;
}

section>.content{
    width: 1280px;
}

section>.content>.tree{
    display: flex;
    gap: 5px;
    padding: 20px 0;
    font-size: 20px;
    color: #43567C;
    animation: slideRight .6s ease-out forwards;
}

section>.content>.tree>a{
    text-decoration: none;
    color: #0F244F;
    font-weight: 400;
}

section>.content>.service-content{
    display: grid;
    grid-template-columns: 510px 725px;
    gap: 45px;
}

@keyframes increaseBackground {
    from {
        background-size: 100%;
    }
    to {
        background-size: 102%;
    }
}

@keyframes increaseBackgroundReverse {
    from {
        background-size: 102%;
    }
    to {
        background-size: 100%;
    }
} 

section>.content>.service-content>img{
    background-blend-mode: multiply;    
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 515px;
    cursor:zoom-in;
    animation: increaseBackgroundReverse .3s ease-out forwards;
}

section>.content>.service-content>img:hover{
    animation: increaseBackground .3s ease-out forwards;
}

section>.content>.service-content>.text>h1{
    color: #0F244F;
    font-weight: 700;
}

section>.content>.service-content>.text>p{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    color: #0F244F;
}

section>.content>.our-works{
    margin-top: 50px;
}

section>.content>.our-works>p.title{
    font-size: 32px;
    color: #0F244F;
    font-weight: 700;
}

section>.content>.our-works>.works{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 290px);
    gap: 40px;
    padding-bottom: 20px;
}

section>.content>.our-works>.works>.work{
    background-image: url('/assets/images/work.jpg');
    background-blend-mode: multiply;    
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 290px;
    cursor: pointer;
    animation: increaseBackgroundReverse .3s ease-out forwards;
}

section>.content>.our-works>.works>.card{
    padding: 20px;
    height: 300px;
    background-image: url('/assets/images/work.jpg');
    background-blend-mode: multiply;    
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(5, 51, 128, 0.45);
    cursor: pointer;
    animation: increaseBackgroundReverse .3s ease-out forwards;
}

@keyframes increaseBackground {
    from {
        background-size: 100%;
    }
    to {
        background-size: 102%;
    }
}

@keyframes increaseBackgroundReverse {
    from {
        background-size: 102%;
    }
    to {
        background-size: 100%;
    }
} 

section>.content>.our-works>.works>.card:hover{
    animation: increaseBackground .3s ease-out forwards;
}

section>.content>.our-works>.works>.card>p{
    display: flex;
    align-items: top;
    justify-content: space-between;
    color: white;
    font-size: 28px;
    font-weight: 700;
}

section>.content>.our-works>.works>.card>p>i{
    padding-top: 5px;
    padding-right: 3px;
}

.service-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 45px;
}

.slider {
    position: relative;
    width: 515px;
    height: 515px;
    transition: .3s all;
}

.slider img {
    height: 515px;
    cursor: zoom-in;
}

.slick-prev, .slick-next {
    opacity: 0;
    display: block;
    width: 40px;
    height: 40px;
}

.slick-next{
    right: 0;
    z-index: 10;
}

.slick-prev{
    left: 0;
    z-index: 10;
}

.slider:hover .slick-prev,
.slider:hover .slick-next {
    opacity: 1;
    display: block;
}

.slick-prev:before, .slick-next:before {
    font-size: 30px;
    color: #fff;
}

.slick-dots{
    bottom: 10px;
    display: none;
}

.slick-dots li button:before{
    font-size: 10px;
    opacity: 1;
    color: white;
}

.slick-dots li.slick-active button:before{
    font-size: 10px;
    opacity: 1;
    color: #0F244F;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.fullscreen-slider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.slick-fullscreen img {
    height: 90vh;
}

.close-fullscreen {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.slick-slider{
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    overflow: hidden;
}

.slick-dotted.slick-slider{
    margin-bottom: 0px;
}

.slick-initialized .slick-slide{
    display: flex;
    justify-content: center;
}

.slick-fullscreen > .slick-prev, .slick-fullscreen > .slick-next{
    opacity: 1;
}

footer{
    padding: 20px 0;
    display: flex;
    justify-content: center;
    background-color: #053380;
}

footer>.content{
    width: 1280px;
    display: flex;
    justify-content: space-between;
}

footer>.content>p{
    opacity: 1;
    color: white;
    font-size: 20px;
    font-weight: 500;
    animation: fadeIn .6s ease-in forwards;
}

footer>.content>.other{
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

footer>.content>.other>.nav{
    display: flex;
    flex-direction: column;
}

footer>.content>.other>.nav>a{
    opacity: 1;
    text-decoration: none;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 300;
    color: white;
    outline: none;
    cursor: pointer;
    animation: slideRight .6s ease-in forwards;
}

footer>.content>.other>.nav>p.title{
    opacity: 1;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding-bottom: 8px;
    animation: fadeIn .6s ease-in forwards;
}

footer>.content>.other>.contacts{
    display: flex;
    flex-direction: column;
    width: 300px;
}

footer>.content>.other>.contacts>p{
    opacity: 1;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 300;
    color: white;
    animation: slideRight .6s ease-in forwards;
}

footer>.content>.other>.contacts>p.title{
    opacity: 1;
    margin-top: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding-bottom: 8px;
    animation: fadeIn .6s ease-in forwards;
}

footer>p{
    color: white;
    font-size: 20px;
    font-weight: 500;
}