.content>.page-content>form{
    margin-top: 20px;
    grid-template-columns: 300px 700px;
    align-items: start;
}

.content>.page-content>form>textarea{
    height: 400px;
    padding: 6px 16px;
    font-size: 20px;
    font-weight: 400;
    color: #0F244F;
    background-color: white;
    border: 2px solid #67A0FD;
    resize: none;
    outline: none;
}

.content>.page-content>a{
    margin-top: 10px;
    text-decoration: none;
    color: #0F244F;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    opacity: .8;
}

.content>.page-content>form>button[type="button"]{
    background-color: #88adeb;
    width: 300px;
}

.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
}

.notification.show {
    display: block;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1001; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 2px solid #67A0FD;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.modal-content button {
    margin: 15px;
    margin-top: 30px;
    color: white;
    padding: 7px 46px;
    border: 0;
    outline: none;
    cursor: pointer;
}

button#confirmDelete{
    background-color: #5595FF;
}

button#cancelDelete{
    background-color: #88adeb;

}